{% extends 'template.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Resultado{% endblock %}

{% block header %}
{% endblock header %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>Resultado!</b></h5>
            <hr>
            <div class="row">
                <div class="col-12">
                    {% if sucess %}
                        <div class="alert alert-success" role="alert">
                            {{ sucess }}
                        </div>
                    {% endif %}
                    
                    {% if erro %}
                        <div class="alert alert-warning" role="alert">
                            {{ erro }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}